@import "./../../sprak-styles/sprak-variables.scss";

.rate-special {
  @extend %font-sm;
  border-top: solid 1px $color-white;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  margin-top: $space-md;
  padding: $space-md;
  text-align: center;
  width: 100%;

  &:hover {
    text-decoration: underline;
  }
}

.rate-special-form {
  text-align: center;
  padding: 0 0 $space-md 0;

  button {
    margin: 0 $space-sm;
  }

  p {
    margin: 0;
  }
}

.rate-special-link,
.rate-special-link:visited {
  color: $color-white;
  text-decoration: underline;
}
