@import "./../../sprak-styles/sprak-variables.scss";

.map-results-back {
  background: $color-light;
  border: none;
  color: $color-dark;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: $space-md;
  outline: none;
  width: 100%;

  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: $breakpoint-sm) {
  .map-search-container {
    display: flex;
    flex-direction: row-reverse;
    height: 75vh;
    overflow: hidden;
  }
  .map-results-wrapper {
    box-shadow: 1px 0px 3px $color-medium;
    display: flex;
    flex-direction: column;
    width: 350px;
  }
}
