@import "./../../sprak-styles/sprak-variables.scss";

.token-failed {
    background-image: url('./../../img/travolta.gif');
    min-height: 90vh;
    background-position: bottom right;
    background-size: 60vh;    
    background-repeat: no-repeat;
    padding: $space-xl;
}