@import "./../../sprak-styles/sprak-variables.scss";

.special {
    border-bottom: solid 1px $color-medium;
    padding: $space-md 0;

    &:last-child {
        border-bottom: 0px;
    }
}

.special-preview {
    border-left: solid $space-xs $color-light;
    margin: $space-md 0;
    padding: 0 $space-md;

    &:last-child {
        margin-bottom: 0px;
    }
}

.special-types {
    color: $color-valencia;
    display: flex;
    justify-content: flex-end;

    > * {
        margin: 0 $space-xs $space-sm $space-xs;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.special-details {
    margin-top: $space-sm;
    white-space: pre-wrap;
}