@import "./../../sprak-styles/sprak-variables.scss";

.special {
  border-bottom: solid 1px $color-medium;
  padding: $space-md 0;

  &:last-child {
    border-bottom: 0px;
  }
}

.special-types {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.special-type {
  background-color: $color-valencia;
  border-radius: 15px;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 $space-xs $space-sm $space-xs;
  padding: $space-md;
}

.special-type-icon {
  margin-right: $space-sm;
}

.special-details {
  margin-top: $space-sm;
  white-space: pre-wrap;
}
