@import "./../../sprak-styles/sprak-variables.scss";

.special {
    background: $color-white;
    border-bottom: solid 1px $color-medium;
    padding: $space-sm;
    margin-bottom: $space-sm;
}

.special-headline {
    font-weight: bold;
    margin-bottom: $space-xs;
}

.special-details {
    margin-bottom: $space-sm;
}

.special-days-wrapper {
    margin-bottom: $space-sm;
}

.special-days-wrapper,
.special-times-wrapper {
    align-items: center;
    display: flex;

    > i {
        font-size: .8em;
        opacity: .8;
    }
}

.special-day-header {
    display: inline-block;
    margin-right: $space-xs;
    min-width: 0px;
    padding: $space-xs;
    user-select: none;
    text-transform: uppercase;
}

.special-icon {
    margin-right: $space-sm
}