@import "./../../sprak-styles/sprak-variables.scss";

.location {
}

.location-section-header {
  text-decoration: underline;
}

a.location-meta-link,
a.location-meta-link:visited {
  align-items: center;
  color: $color-curious;
  display: inline-block;
  padding: $space-xs;
  margin-right: $space-lg;

  &:hover {
    text-decoration: underline;
  }
}

.location-meta-link-icon {
  display: inline-block;
  margin: 0 $space-sm 0 0;
  text-align: center;
  width: 1em;
}
