@import "./../../sprak-styles/sprak-variables.scss";

.site-header {
  align-items: center;
  background-color: $color-valencia;
  box-shadow: 0px 1px 1px $color-medium;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  min-height: 65px;
  z-index: 4;
}

a.logo {
  color: $color-white;
  font-family: "Neucha", sans-serif;
  text-shadow: 1px 1px 1px #302c29;
  padding: 0 $space-md;
}

.logo-image {
  height: 50px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  border: 5px solid $color-curious;
  border-top-color: $color-light;
  animation: spinner 0.6s linear infinite;
}

.spinner-sm:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  border: 3px solid $color-curious;
  border-top-color: $color-light;
  animation: spinner 0.6s linear infinite;
}

//this probably aught to end up in the sprak style guide
.form-element {
  display: block;
  margin-bottom: $space-lg;
}

.form-label {
  display: block;
  line-height: 0.8em;
}

.form-element > input {
  margin: 0;
  width: 100%;
}
.form-element > textarea {
  min-height: 100px;
  margin: 0;
  width: 100%;
}
.validation-text {
  background: $color-valencia;
  color: $color-white;
  padding: $space-md;
  margin: $space-md 0;
  text-align: center;
}

//add to style guide
.reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-align: inherit;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.hero-text {
  margin: 0 auto;
  max-width: $breakpoint-md;
  padding: $space-xl;
  text-align: center;
}

.hero-icon {
  font-size: 5em;
}
