@import "./../../sprak-styles/sprak-variables.scss";

.homepage-categories {
  background: $color-valencia;
  color: $color-white;
  padding: $space-xl 0;

  h1 {    
    margin-bottom: $space-xl;
  }
}

.homepage-category {
  
}