@import "./../../../sprak-styles/sprak-variables.scss";

.admin-add-location-action {
    display: block;
}
.add-location-wrapper {
    background: $color-white;
    padding: $space-md;
    max-width: $breakpoint-xs;
    width: 100%;
}