@import "./../../../sprak-styles/sprak-variables.scss";

.location-list-wrapper {        
    background: $color-white;
    min-height: 200px;
    overflow: hidden;
    position: relative;
}

.text-location {
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

@media (min-width: $breakpoint-sm) {
    .location-list-wrapper {  
        display: flex;
        height: 100%;
        flex: 1;
        flex-direction: column;
        overflow-y: auto;
        z-index: 3;        
    }
}