@import "./../../../sprak-styles/sprak-variables.scss";

.location-list-item {
    padding: $space-sm;
}

.location-list-item:last-child {
    border-bottom: none;
}

.location-list-item-name {
    margin-bottom: $space-sm;
}

a.location-list-item, a.location-list-item:visited {
    align-items: center;
    color: $color-scooter;
    display: flex;
    margin: 0 0 $space-xs 0;
}