@import "./../../../sprak-styles/sprak-variables.scss";

.location-list-item {
    border-bottom: solid 1px $color-medium;
    display: block;
    padding: $space-sm;

    &:hover {
        background: $color-light;
    }
}

.location-list-item:last-child {
    border-bottom: none;
}

.location-list-item-name {
    margin-bottom: $space-sm;
}

.location-list-item-special {
    align-items: center;
    border-left: solid $space-xs $color-light;
    display: flex;
    margin: $space-md 0;
}

.special-types {
    color: $color-valencia;
    display: flex;
    justify-content: space-between;

    > * {
        margin-bottom: $space-sm;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}
