@import "./../../../sprak-styles/sprak-variables.scss";

.location-list-item {
    border-bottom: solid 1px $color-medium;
    display: block;
    padding: $space-md;

    &:hover {
        background: $color-light;
    }
}

.location-list-item:last-child {
    border-bottom: none;
}

.location-list-item-name {
    margin-bottom: $space-sm;
}

